.blackout {
  background-color: black;
}

@keyframes forward {
  from {
    background-position: 20000%;
  }
  to {
    background-position: 0%;
  }
}

#game-area {
  width: 100%;
  height: 324px;
  border: 10px groove gold;
  background-image: url("../images/game-bg.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: forward 600s infinite linear;
}

@keyframes jump {
  0%{top: 240px;}
  25%{top: 180px;}
  50%{top: 150px}
  75%{top: 180px;}
  100%{top: 240px;}
}

.jump {
  animation: jump 700ms linear;
}

#character {
  height: 75px;
  width: 40px;
  top: 240px;
  left: 20%;
  position: relative;
  background-image: url("../images/character.png");
  background-size: cover;
}
  
#obstacle {
  background-image: url("../images/obstacle.png");
  background-repeat: no-repeat;
  width: 76px;
  height: 61px;
  position: relative;
  top: 170px;
  left: 96%;
  animation: obstacle 5s infinite linear;
}

@keyframes obstacle{
  0%{left: 100%}
  100%{left: -5%}
}

#score {
  color: black;
  position: relative;
  top: 15.5rem;
}