/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Global Styles */

.blackout {
  background-color: black;
}

.text {
  font-size: 0.80em;
}

.title {
  font-size: 1.2em;
}

.hide {
  visibility: hidden;
}

.game-title {
  color: #ffa202c3;
  font-family: 'Pixelify Sans';
  text-align: center;
  text-decoration: underline;
  font-size: 100px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #ffa500;
  margin-block-start: 0px !important;
}

/* End screen with score result */

.end {
  height: 95%;
  width: 100%;
  background: #f9e4bc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  font-family: 'Pixelify Sans';
  border: 10px double #ffa202c3;
  font-size: xx-large;
}

.text-block {
  margin-top: 25%;
  width: 50%;
  margin-left: 25%;
  font-size: xx-large;
}

/* Start screen with instrunctions and start button */

#start {
  height: 95%;
  width: 100%;
  background: #f9e4bc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  font-family: 'Pixelify Sans';
  border: 10px double #ffa202c3;
  font-size: x-large;
}

/* Blocks touch screen devices in portrait mode */

#portrait-block {
  background: #f9e4bc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Pixelify Sans';
  border: 10px double #ffa202c3;
  font-size: xx-large;
  height: 100%;
  width: 100%;
  z-index: 3;
}

/* Character Styles and Animations */

/* Class attached that enables the animation below, attaches only when "jump" is triggered */

.jump {
  animation: jump-animation 0.7s steps(7) infinite;
  background-image: url("../images/character-jump-spritesheet.png");
}

/* Animation that makes the character appear to jump both as a motion and physically */

@keyframes jump-animation {
  from {
    background-position: 0px;
  }

  to {
    background-position: -910px;
  }

  0% {
    top: 200px;
  }

  25% {
    top: 150px;
  }

  50% {
    top: 120px;
  }

  75% {
    top: 150px;
  }

  100% {
    top: 200px;
  }
}

/* Class attached that enables the animation below */

.walk {
  background-image: url("../images/character-walk-spritesheet.png");
  animation: walk-animation 0.7s steps(6) infinite;
}

/* Animation that makes the character appear to walk */

@keyframes walk-animation {
  from {
    background-position: 0px;
  }

  to {
    background-position: -780px;
  }
}

#character {
  height: 130px;
  width: 130px;
  top: 200px;
  position: absolute;
  z-index: 1;
}

/* Button Styles */

.btn {
  font-family: 'Pixelify Sans';
  border: 6px inset orange;
  background-color: #f9e4bc;
}

.btn:hover {
  border: 6px outset orange;
}

/* Button that makes character jump */

#jump-button {
  position: absolute;
  z-index: 2;
  top: 90%;
  left: 90%;
}

/* Game Area Styles and Animations */

#game-area {
  width: 100%;
  height: 324px;
  border: 10px groove #ffd700;
  background-image: url("../images/game-bg.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: forward 600s infinite linear;
}

/* Animation that makes the background move consistently making the character appear to run forward */

@keyframes forward {
  from {
    background-position: 11150%;
  }

  to {
    background-position: 0%;
  }
}

/* Obstacle Styles and Animations */

.obstacle {
  background-image: url("../images/obstacle.png");
  background-repeat: no-repeat;
  width: 76px;
  height: 61px;
  position: absolute;
  top: 249px;
  right: -76px;
}

/* Score and Speaker Styles */

#speaker {
  top: 275px;
  right: 5px;
  position: absolute;
  z-index: 3;
  background-color: #f9e4bc;
  border: gold 3px solid;
}

#score {
  color: black;
  position: absolute;
  top: 255px;
  background-color: #f9e4bc;
  border: gold 3px solid;
}

/* Media Queries */

/* Media Query for removed Game Title up until 1023px */

@media screen and (max-width:1023px) {

  .game-title {
    display: none;
  }
}

/* Media Query for removal of portrait orientation screen blocker */

@media screen and (orientation:landscape) {

  #portrait-block {
    display: none;
  }
}

/* Media Query for speaker and score style for extra small and small screens */

@media screen and (min-width: 0px) {

  #speaker {
    top: 30px;
  }

  #score {
    top: 10px;
  }
}

/* Media Query for speaker and score style for medium screens */

@media screen and (min-width: 768px) {

  #speaker {
    top: 55px;
  }

  #score {
    top: 35px;
  }
}

/* Media Query for speaker, game title and score style for large screens */

@media screen and (min-width: 992px) {

  .game-title {
    margin-top: 50px !important;
  }

  #speaker {
    top: 230px;
  }

  #score {
    top: 210px;
  }
}

/* Media Query for speaker, text, game title and score style for slightly larger than medium screens */

@media screen and (min-width: 1024px) {

  .text {
    font-size: xx-large;
  }

  .game-title {
    margin-top: 10px !important;
  }

  #speaker {
    top: 255px;
  }

  #score {
    top: 230px;
  }
}

/* Media Query for speaker, game title and score style for x-large screens */

@media screen and (min-width: 1200px) {

  .game-title {
    margin-top: 0px !important;
    font-size: 700%;
  }

  #speaker {
    top: 360px;
  }

  #score {
    top: 340px;
  }
}

/* Media Query for speaker, text and score style for xx-large screens */

@media screen and (min-width: 1400px) {

  .text {
    font-size: xxx-large;
  }

  #speaker {
    top: 350px;
  }

  #score {
    top: 330px;
  }
}